#!/bin/bash

# Check if entry exists already

if grep -q summitdir /etc/fstab ; then
  echo "Entry already exists in /etc/fstab, please delete before proceeding"
  exit
fi

# Grabs output from a couple of different commands to create an entry for /etc/fstab

echo "# Determining UUID"

UUID=`lsblk -n -o uuid /stratis/summitpool/summitfs`

echo "# Adding to fstab: UUID=${UUID} /summitdir xfs defaults 0 0"

echo "UUID=${UUID} /summitdir xfs defaults 0 0" >> /etc/fstab
