# ------------------
#      Host FQDN ... {{ inventory_hostname_short }}.{{ workshop_extras.network_fqdn }}
#     OS Version ... {{ ansible_distribution }} {{ ansible_distribution_version }}
# Workshop Setup ... COMPLETE
# ------------------
