{
    "x86_64": [
        {
            "name": "baseos",
            "baseurl": "http://192.168.1.170:8008/repos/rhel-8.4/BaseOS"
        },
        {
            "name": "appstream",
            "baseurl": "http://192.168.1.170:8008/repos/rhel-8.4/AppStream"
        }
    ]
}

