#!/bin/bash


echo "Creating the 'importantfile'"
  echo "This is an important file!!" > /root/importantfile

echo "Creating the 'importantuser'"
  useradd importantuser
  
echo ""  
  
echo "Contents of 'importantfile':"
  cat /root/importantfile
  
echo ""

echo "Grepping 'importantuser' from /etc/passwd:"
  grep importantuser /etc/passwd
  
  
