---
- hosts: node2
  become: true
  tasks:
  
    - name: "rhel8-unit-nftables : workshop script installs"
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: 0744
      with_items:
        - {src: 'workshop-checkhost.j2',               dest: '/usr/local/bin/workshop-nftables-checkhost.sh'}
